<div id="container" class="container-fluid">
  <header class="table-header mb-5">
    <h1 class="special-h1">Food</h1>

    <div class="btn-container">
      <!-- Search -->
      <label title="Search By Restaurant Name">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
        <input
          type="text"
          name="searchTerm"
          [(ngModel)]="searchTerm"
          placeholder="Search By Food Name"
        />
      </label>

      <!-- Filter Button & Modal -->
      <div class="position-relative">
        <app-filter-button [text]="buttonText()" (click)="toggleFilterModal()">
          <span *ngIf="!isFilterModalOpen()"
            ><i class="ri-filter-3-fill"></i
          ></span>
          <span *ngIf="isFilterModalOpen()"
            ><i class="fa-solid fa-xmark"></i
          ></span>
        </app-filter-button>

        <div
          *ngIf="isFilterModalOpen()"
          id="filter-modal"
          class="container shadow-lg rounder-3"
        >
          <h1 class="special-h1">Filter</h1>
          <div class="row">
            <!-- Location -->
            <div class="modal-input-wrapper col-md-12">
              <h1>Location</h1>
              <select name="location">
                <option value="">Select Category</option>
                <option value="lagos">Lagos</option>
                <option value="abuja">Abuja</option>
                <option value="portharcourt">Port Harcourt</option>
                <option value="ibadan">Ibadan</option>
              </select>
            </div>

            <!-- Rating -->
            <div class="modal-input-wrapper col-md-12">
              <h1>Rating</h1>
              <select name="rating">
                <option value="">Select Category</option>
                <option value="5">5 Stars</option>
                <option value="4">4 Stars</option>
                <option value="3">3 Stars</option>
                <option value="2">2 Stars</option>
                <option value="1">1 Star</option>
              </select>
            </div>

            <!-- Status -->
            <div class="modal-input-wrapper col-md-12">
              <h1>Status</h1>
              <select name="status">
                <option value="">Select Status</option>
                <option value="active">Active</option>
                <option value="pending">Pending</option>
                <option value="closed">Closed</option>
                <option value="banned">Banned</option>
              </select>
            </div>

            <!-- Filter Buttons -->
            <div class="modal-input-wrapper col-md-6">
              <app-button
                color="secondary"
                buttonText="Clear Filter"
                style="width: 100%"
              ></app-button>
            </div>
            <div class="modal-input-wrapper col-md-6">
              <app-button
                buttonText="Apply Filter"
                style="width: 100%"
              ></app-button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Food + Export -->
      <app-button
        buttonText="Add Food"
        routerLink="/admin/restaurants/{{ restaurantId }}/food-list/add-food"
      />
      <select class="btn rounder-2">
        <option value="1" selected disabled>
          <i class="ri-file-download-line"></i> Export
        </option>
      </select>
    </div>
  </header>

  <!-- Table Content -->
  <div class="body">
    <ng-container *ngIf="!isLoading(); else loading">
      <ng-container *ngIf="foods.length > 0; else emptyList">
        <ng-container *ngIf="filteredFoods as filtered">
          <table
            class="table mt-3 table-hover"
            *ngIf="filtered.length > 0; else noSearchResults"
          >
            <thead>
              <tr>
                <th>
                  <input
                    type="checkbox"
                    style="cursor: pointer"
                    [checked]="allSelected()"
                    (change)="toggleCheckedList()"
                  />
                  Name <i class="ri-arrow-up-down-line"></i>
                </th>
                <th>Image</th>
                <th>Category</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tbody>
              <tr
                *ngFor="let food of filtered; let i = index"
                class="mb-3"
                [class.checked]="food.checked"
                style="cursor: pointer"
                tabindex="0"
                role="button"
              >
                <td>
                  <div class="td-checkbox-wrapper">
                    <input
                      type="checkbox"
                      [checked]="food.checked"
                      (click)="toggleSelection(i)"
                    />
                    {{ food.name }}
                  </div>
                </td>
                <td>
                  <div class="img-con">
                    <img src="{{ food.image }}" alt="" />
                  </div>
                </td>
                <td>{{ food.categoryName }}</td>
                <td>₦{{ food.price }}</td>
                <td [style.color]="food.available ? 'green' : 'red'">
                  {{ food.available }}
                </td>
                <td class="position-relative" id="toolbar-container">
                  <button
                    class="toolbar-toggle rounded-3"
                    [class.active]="food.isToolbarOpen"
                    [ngClass]="food.isToolbarOpen ? 'visible' : 'hidden'"
                    (click)="toggleDropdown(i); $event.stopPropagation()"
                  >
                    <i class="ri-more-2-fill"></i>
                  </button>
                  <ul
                    class="toolbar shadow"
                    [class.visible]="openDropdownIndex === i"
                    [class.hidden]="openDropdownIndex !== i"
                  >
                    <li (click)="selectFood(food.id)">
                      <i class="ri-eye-line"></i> View
                    </li>
                    <li><i class="ri-pencil-line"></i> Edit</li>
                    <li (click)="deleteFood(food.id)">
                      <i class="ri-delete-bin-line"></i> Delete
                    </li>
                    <li
                      class="toggle-container"
                      (click)="toggleSelection(i); $event.stopPropagation()"
                    >
                      <button class="status-toggle">
                        <i
                          [class]="
                            food.checked
                              ? 'fa-solid fa-toggle-on'
                              : 'fa-solid fa-toggle-off'
                          "
                        ></i>
                      </button>
                      Deactivate
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #noSearchResults>
          <empty-search />
        </ng-template>
      </ng-container>
    </ng-container>

    <!-- Loading State -->
    <ng-template #loading>
      <app-mini-loader />
    </ng-template>

    <!-- Empty State -->
    <ng-template #emptyList>
      <app-empty-list />
    </ng-template>
  </div>
</div>
