@use "../../../../styles.scss" as *;

.container {
  margin-top: 2rem;
  font-family: "Segoe UI", sans-serif;
  border-radius: 9px !important;
  overflow: hidden;
}

.header {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 24px;
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.img-container img {
  width: 100%;
  object-fit: cover;
  height: 400px;
  border-radius: 10px;
  border: 1px solid $gray;
}

.btn-container app-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-group {
  width: 100%;
  margin-top: 20px;

  span {
    width: 100%;
    padding-block-end: 15px;
    border-bottom: 2px dashed #11131580;
    display: block;
  }

  h4,
  p {
    margin-bottom: 9px !important;
  }

  h4 {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

.representative-info,
.documents {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  background: white !important;

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }
}

.img-con {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;

  h3 {
    font-weight: 700;
    font-size: 20px;
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.info-con {
  span {
    display: block;
    padding-block: 14px;

    &.first-span {
      border-bottom: 1px solid #efefef;
    }

    h4 {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 8px;
      color: $secondary;
    }

    p {
      font-size: 16px;
      color: black;
      font-weight: 600;
    }
  }
}

.pdf-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pdf-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-radius: 10px;
  padding: 0.8rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border: 1px solid $gray;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

.pdf-img img {
  width: 40px;
  height: 40px;
}

.pdf-img .info {
  flex-grow: 1;
}

.svg-container,
.pdf-img svg-icons {
  cursor: pointer;
  transition: 0.3s;
}

.pdf-img:hover {
  border: 1px solid $secondary;
}

.pdf-img:hover svg-icons {
  transform: scale(1.2);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  box-shadow: 0 0 15px rgba($color: black, $alpha: 0.4);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

#first-column,
#second-column {
  background: white !important;
  padding: 24px !important;
  border-radius: 8px !important;
}

.title-h2 {
  position: relative;
  margin-bottom: 18px !important;
  font-size: 20px;
  font-weight: 600;

  &::before {
    background: $primary;
    width: 8px;
    border-radius: 1.5px;
    content: "";
    left: -10px;
    top: 0;
    height: 100%;
    position: absolute;
  }
}

.restaurant-name {
  font-size: 24px;
  font-weight: 700;
  margin-block: 15px;
}

p {
  color: $secondary;
}

#second-column {
  background: transparent !important;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 !important;
  gap: 1rem;

  .representative-info {
    background: white;
    padding: 24px;

    h2 {
      position: relative;
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
      margin-left: 5px;

      &::before {
        background: $primary;
        width: 8px;
        border-radius: 1.5px;
        content: "";
        left: -14px;
        top: 0;
        height: 100%;
        position: absolute;
      }
    }
  }
}

.reviews-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;

  .divider {
    display: inline-block;
    width: 2px;
    height: 20px;
    background: #888;
    margin: 0 8px;
  }
}

@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
