<div class="dashboard-main">
  <div class="order-states">
    <div class="row w-100">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="active-orders order-stat">
          <div class="img">
            <img src="assets/images/active-orders.png" alt="active-orders" />
          </div>
          <div class="count">
            <p>Active Orders</p>
            <strong> 2390 </strong>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="pending-orders order-stat">
          <div class="img">
            <img src="assets/images/pending-orders.png" alt="pending-orders" />
          </div>
          <div class="count">
            <p>Pending Orders</p>
            <strong> 2390 </strong>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="delivered-orders order-stat">
          <div class="img">
            <img
              src="assets/images/delivered-orders.png"
              alt="delivered-orders"
            />
          </div>
          <div class="count">
            <p>Delivered Orders</p>
            <strong> 2390 </strong>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="returned-orders order-stat">
          <div class="img">
            <img
              src="assets/images/returned-orders.png"
              alt="returned-orders"
            />
          </div>
          <div class="count">
            <p>Returned Orders</p>
            <strong> 2390 </strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="recent-order-request">
    <div class="heading">
      <div class="title">
        <h5>Recent order request</h5>
      </div>
    </div>
    <div class="table-parent">
      <table class="table">
        <thead class="thead">
          <tr>
            <td></td>
            <td>
              <strong>Order ID</strong>
            </td>
            <td>
              <strong>Date</strong>
            </td>
            <td>
              <strong>Customer</strong>
            </td>
            <td>
              <strong>Restaurant</strong>
            </td>
            <td>
              <strong class="d-flex align-items-center"
                >Price <span><svg-icons name="reorder"></svg-icons></span
              ></strong>
            </td>
            <td>
              <strong>Status</strong>
            </td>
            <td>
              <strong>Action</strong>
            </td>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr>
            <td>
              <input type="checkbox" class="" />
            </td>
            <td>
              <span>B13789</span>
            </td>
            <td>
              <span>Feb 08, 2022</span>
            </td>
            <td>
              <div class="customer d-flex align-items-center" style="gap: 8px">
                <div class="profile">
                  <img
                    src="assets/images/profile-img.png"
                    alt="profile-img"
                    class="img-fluid"
                  />
                </div>
                <div class="name">Dianne Russell</div>
              </div>
            </td>
            <td>
              <span>Louis Vuitton</span>
            </td>
            <td>
              <span>$90.00</span>
            </td>
            <td>
              <span class="text-warning"> Pending </span>
            </td>
            <td>
              <div class="actions">
                <svg-icons name="ellipsis"></svg-icons>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="total-revs">
    <div class="row w-100">
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="total-revenue">
          <div class="heading">
            <div class="title">
              <h5>Recent order request</h5>
            </div>
          </div>

          <div class="stats">
            <div class="row">
              <div class="col-md-6">
                <div class="rev-stat">
                  <div class="img">
                    <img
                      src="assets/images/income-stat.png"
                      alt="total-income"
                    />
                  </div>
                  <div class="count">
                    <p>Income</p>
                    <strong> $1,390,39 </strong>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="rev-stat">
                  <div class="img">
                    <img
                      src="assets/images/expense-stat.png"
                      alt="total-income"
                    />
                  </div>
                  <div class="count">
                    <p>Expense</p>
                    <strong> $1,390,39 </strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chart">
            <ngx-charts-line-chart
              [results]="lineChartData"
              [scheme]="colorScheme"
              [curve]="curve"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="false"
              [autoScale]="true"
              [roundDomains]="true"
              [timeline]="false"
              [xAxisTickFormatting]="xAxisTickFormatting"
              [tooltipTemplate]="customTooltip"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="sales">
          <div class="heading">
            <div class="title">
              <h5>Sales</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="sales-stats">
                <div class="count">
                  <p>Total Sales</p>
                  <strong>1,390</strong>
                </div>
                <div class="percentage">
                  <div class="badge text-warning">
                    <svg-icons name="arrow-up"></svg-icons>
                    <span>2.35%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="sales-stats">
                <div class="count">
                  <p>Bindirigu Sales</p>
                  <strong>139</strong>
                </div>
                <div class="percentage">
                  <div class="badge badge2 text-warning">
                    <svg-icons name="arrow-up-blue"></svg-icons>
                    <span>2.35%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="sales-stats">
                <div class="count">
                  <p>Damm Sales</p>
                  <strong>1,123</strong>
                </div>
                <div class="percentage">
                  <div class="badge badge3 text-warning">
                    <svg-icons name="arrow-up-green"></svg-icons>
                    <span>2.35%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="restaurants-row">
    <div class="row w-100">
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="restaurants">
          <div class="heading">
            <div class="title">
              <h5>Restaurants</h5>
            </div>
          </div>
          <div class="tabs">
            <cus-tabs>
              <cus-tab label="Today">
                <div class="row w-100">
                  <div class="col-12">
                    <div class="pending-restaurants">
                      <div class="img">
                        <img
                          src="assets/images/pending-restaurants.png"
                          alt="pending-restaurants"
                          class="img-fluid"
                        />
                      </div>
                      <div class="count">
                        <p>Pending Restaurants</p>
                        <strong>2390</strong>
                      </div>
                      <div class="ellipsis">
                        <svg-icons name="ellipsis"></svg-icons>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="pending-restaurants">
                      <div class="count">
                        <p>Open Restaurants</p>
                        <strong>2390</strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="pending-restaurants">
                      <div class="count">
                        <p>Closed Restaurants</p>
                        <strong>2390</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </cus-tab>
              <cus-tab label="Yesterday"></cus-tab>
              <cus-tab label="Last Week"></cus-tab>
              <cus-tab label="Last Month"></cus-tab>
            </cus-tabs>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="ranked-restaurants">
          <div class="heading">
            <div class="title">
              <h5>Ranked Restaurants</h5>
            </div>
          </div>
          <div class="ranks">
            <div class="rank">
              <div class="img">
                <img
                  src="assets/images/restaurant-img.png"
                  alt="restaurant-img"
                  class="img-fluid"
                />
              </div>
              <div class="details">
                <h5>Star Valley Restaurant</h5>
                <small>G. P. O., Asafoatse Nettey Road, Accra...</small>
              </div>
              <div class="count">
                <strong>29</strong>
                <small>Orders</small>
              </div>
            </div>
            <div class="rank">
              <div class="img">
                <img
                  src="assets/images/restaurant-img.png"
                  alt="restaurant-img"
                  class="img-fluid"
                />
              </div>
              <div class="details">
                <h5>Star Valley Restaurant</h5>
                <small>G. P. O., Asafoatse Nettey Road, Accra...</small>
              </div>
              <div class="count">
                <strong>29</strong>
                <small>Orders</small>
              </div>
            </div>
            <div class="rank">
              <div class="img">
                <img
                  src="assets/images/restaurant-img.png"
                  alt="restaurant-img"
                  class="img-fluid"
                />
              </div>
              <div class="details">
                <h5>Star Valley Restaurant</h5>
                <small>G. P. O., Asafoatse Nettey Road, Accra...</small>
              </div>
              <div class="count">
                <strong>29</strong>
                <small>Orders</small>
              </div>
            </div>
            <div class="rank">
              <div class="img">
                <img
                  src="assets/images/restaurant-img.png"
                  alt="restaurant-img"
                  class="img-fluid"
                />
              </div>
              <div class="details">
                <h5>Star Valley Restaurant</h5>
                <small>G. P. O., Asafoatse Nettey Road, Accra...</small>
              </div>
              <div class="count">
                <strong>29</strong>
                <small>Orders</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews-table">
    <div class="reviews">
      <div class="heading">
        <div class="title">
          <h5>Reviews</h5>
        </div>
      </div>
      <div class="table-parent">
        <table class="table">
          <thead class="thead">
            <tr>
              <td>
                <input type="checkbox" />
              </td>
              <td>
                <strong>Name</strong>
              </td>
              <td>
                <strong>Date</strong>
              </td>
              <td>
                <strong>Review</strong>
              </td>
              <td>
                <strong>Ratings</strong>
              </td>
              <td>
                <strong>Action</strong>
              </td>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr>
              <td>
                <input type="checkbox" class="" />
              </td>
              <td>
                <span>Beef onion pizza</span>
              </td>
              <td>
                <span>Feb 08, 2022</span>
              </td>
              <td>
                <span> I'm very much happy. Food is good. </span>
              </td>
              <td>
                <span><svg-icons name="star-gold"></svg-icons> 4.8</span>
              </td>

              <td>
                <div class="actions">
                  <div class="icon">
                    <svg-icons name="ellipsis"></svg-icons>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="pages">
          <div class="count">
            <span>1 of 2</span>
          </div>
          <div class="pagination">
            <div class="left">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="nav-pages">
              <ul class="nav">
                <li class="nav-item">
                  <a routerLink="/" class="active"><span>1</span></a>
                </li>
                <li class="nav-item">
                  <a routerLink="/" class=""><span>2</span></a>
                </li>
                <li class="nav-item">
                  <a routerLink="/" class=""><span>3</span></a>
                </li>
              </ul>
            </div>
            <div class="right">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="customers">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="customers-table">
          <div class="heading">
            <div class="title">
              <h5>Customers</h5>
            </div>
          </div>

          <div class="table-parent">
            <table class="table">
              <thead class="thead">
                <tr>
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td>
                    <strong class="d-flex align-items-center"
                      >Name <span><svg-icons name="reorder"></svg-icons></span
                    ></strong>
                  </td>
                  <td>
                    <strong>Phone</strong>
                  </td>
                  <td>
                    <strong>Location</strong>
                  </td>
                  <td>
                    <strong>Action</strong>
                  </td>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr>
                  <td>
                    <input type="checkbox" class="" />
                  </td>
                  <td>
                    <div
                      class="customer d-flex align-items-center"
                      style="gap: 8px"
                    >
                      <div class="profile">
                        <img
                          src="assets/images/profile-img.png"
                          alt="profile-img"
                          class="img-fluid"
                        />
                      </div>
                      <div class="name">Dianne Russell</div>
                    </div>
                  </td>
                  <td>
                    <span>880160000770</span>
                  </td>
                  <td>
                    <span> Corner Street 5th London.. </span>
                  </td>

                  <td>
                    <div class="actions">
                      <div class="icon">
                        <svg-icons name="ellipsis"></svg-icons>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="rewards-points">
          <div class="rewards">
            <div class="heading">
              <div class="title">
                <h5>Reward Points</h5>
              </div>
            </div>
            <div class="rwrd-points">
              <div class="img">
                <img
                  src="assets/images/reward-points.png"
                  alt="rewards-points"
                  class="img-fluid"
                />
              </div>
              <div class="count">
                <p>Total Points</p>
                <strong>2770</strong>
              </div>
            </div>
            <div class="rwrd-points">
              <div class="img">
                <img
                  src="assets/images/reward-points.png"
                  alt="rewards-points"
                  class="img-fluid"
                />
              </div>
              <div class="count">
                <p>Total Points</p>
                <strong>2770</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #customTooltip let-model="model">
  <app-dynamic-tooltip
    [label]="
      model.series.name + ' • ' + (model.name | date : 'yyyy-MM-ddTHH:mm:ss')
    "
    [value]="model.value"
  ></app-dynamic-tooltip>
</ng-template>
