<div class="navbar">
    <div class="nav">
        <div class="leftside">
            <div class="pagination">
                <div class="current-module">
                    <h5>Dashboard</h5>
                </div>
                <div class="current-page">
                    
                </div>
            </div>
        </div>
        <div class="rightside">
            <div class="chats" routerLink="/admin/chat">
                <svg-icons name="chats"></svg-icons>
            </div>
            <div class="notifications">
                <svg-icons name="notifications"></svg-icons>
            </div>
            <div class="profile">
                <img src="assets/images/profile-img.png" alt="profile-img">
            </div>
        </div>
    </div>
</div>