<div class="customer-overview">
  <div class="row">
    <!-- Left Sidebar with Customer List -->
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="profiles">
        <div class="heading">
          <div class="title">
            <h5>Customers</h5>
          </div>
        </div>

        <div class="search">
          <label title="Search By Restaurant Name">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" placeholder="Search By Restaurant Name" />
          </label>
        </div>

        <div class="customers-list">
          <ul class="customers list-unstlyed">
            <li
              class="customer"
              *ngFor="let customer of customers"
              (click)="selectCustomer(customer)"
              [class.selected]="isSelected(customer)"
            >
              <div class="customer-content">
                <div class="img">
                  <img
                    [src]="
                      customer.photo_url || 'assets/images/profile-img.png'
                    "
                    alt="profile-img"
                    class="img-fluid object-fit-cover"
                  />
                </div>
                <div class="details">
                  <h5>{{ customer.name }}</h5>
                  <p>{{ customer.phone }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Right Tabs Section -->
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="tabs">
        <cus-tabs>
          <cus-tab label="Overview">
            <div class="col-6">
              <div class="profile-overview" *ngIf="customer">
                <div class="active">
                  <div class="alert">Active</div>
                  <div class="switch">
                    <toggle-switch
                      [checked]="isActive"
                      (toggled)="isActive = $event"
                    ></toggle-switch>
                  </div>
                </div>

                <div class="profile-info">
                  <div class="img">
                    <img
                      [src]="
                        customer.photo_url ||
                        'assets/images/profile-img-alt.png'
                      "
                      alt="profile-img"
                      class="img-fluid object-fit-cover"
                    />
                  </div>

                  <div class="details">
                    <ng-container *ngIf="!editing; else editFields">
                      <h4>{{ customer.name }}</h4>
                      <p>{{ customer.email }}</p>
                      <app-button
                        buttonText="Edit profile"
                        (click)="startEditing()"
                      >
                        <span class="me-2">
                          <svg-icons name="pencil-alt"></svg-icons>
                        </span>
                      </app-button>
                    </ng-container>

                    <ng-template #editFields>
                      <input
                        type="text"
                        [(ngModel)]="customer.name"
                        class="form-control mb-2"
                        placeholder="Name"
                      />
                      <input
                        type="email"
                        [(ngModel)]="customer.email"
                        class="form-control mb-2"
                        placeholder="Email"
                      />
                    </ng-template>
                  </div>

                  <div class="more-details">
                    <div>
                      <p>Phone Number</p>
                      <strong *ngIf="!editing">{{ customer.phone }}</strong>
                      <input
                        *ngIf="editing"
                        type="text"
                        [(ngModel)]="customer.phone"
                        class="form-control"
                      />
                    </div>
                    <div>
                      <p>University Student</p>
                      <strong *ngIf="!editing">{{
                        customer.is_student ? "Yes" : "No"
                      }}</strong>
                      <select
                        *ngIf="editing"
                        [(ngModel)]="customer.is_student"
                        class="form-control"
                      >
                        <option [ngValue]="true">Yes</option>
                        <option [ngValue]="false">No</option>
                      </select>
                    </div>
                    <div>
                      <p>Location</p>
                      <strong *ngIf="!editing">{{ customer.location }}</strong>
                      <input
                        *ngIf="editing"
                        type="text"
                        [(ngModel)]="customer.location"
                        class="form-control"
                      />
                    </div>
                    <div class="d-flex gap-2">
                      <app-button
                        buttonText="Cancel"
                        color="secondary"
                        (click)="cancelEditing()"
                      ></app-button>
                      <app-button
                        buttonText="Save Changes"
                        color="primary"
                        (click)="saveChanges()"
                      ></app-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </cus-tab>

          <cus-tab label="Orders"></cus-tab>
          <cus-tab label="Fav Restaurants"></cus-tab>
          <cus-tab label="Review & Rating"></cus-tab>
          <cus-tab label="Reward Point"></cus-tab>
        </cus-tabs>
      </div>
    </div>
  </div>
</div>
