@use "../../../../styles.scss" as *;
@use "sass:color";

.heading {
  .title {
    border-left: 10px solid $primary;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -2%;
    display: flex;
    align-items: center;
    margin-bottom: 36.5px;

    h5 {
      margin-bottom: 0 !important;
      margin-left: 8px;
    }
  }
}

label {
  display: flex;
  color: $secondary;
  font-size: 15px;
  gap: 10px;
  overflow: hidden;
  align-items: center;
  background: transparent;
  border: 1px solid $gray;
  padding: 16px 14px;
  font-size: 15px;
  width: 100%;

  span {
    display: flex;
    text-align: center;
  }

  input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
  }
}

.customer-overview {
  .profiles {
    padding: 28px 24px;
    background-color: #fff;
    border-radius: 5px;
  }
  .profile-overview {
    padding: 28px 24px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 16px;
    .active {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .alert {
        padding: 3px 8px;
        background-color: #27ae60;
        border: 5px;
        color: #fff;
        text-align: center;
        margin-bottom: 0 !important;
      }
    }
    .profile-info {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 24px;
      gap: 12px;
      .img {
        display: flex;
        justify-content: center;
        img {
          width: 100px;
          height: 100px;
          border-radius: 100%;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        h4,
        p {
          text-align: center;
        }
        p {
          color: $secondary;
        }
      }
      .more-details {
        & > div {
          padding: 15px 0;
          border-bottom: 1px solid $gray;
          p {
            margin-bottom: 8px;
            color: $secondary;
          }
          &:last-of-type {
            border-bottom: none !important;
          }
        }
      }
    }
  }
  .customers-list {
    .customers {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-left: 0 !important;
      margin-top: 16px;

      .customer {
        width: 100%;
        cursor: pointer;

        .customer-content {
          display: flex;
          align-items: center;
          gap: 12px;
          text-decoration: none;
          color: #000;
          border-radius: 6px;
          padding: 12px 14px;
          transition: background-color 0.2s ease;
          margin-bottom: 12px;

          p {
            color: $secondary;
            margin-bottom: 0;
          }

          .img img {
            width: 56px;
            height: 56px;
            border-radius: 100%;
            object-fit: cover !important;
          }

          &:hover {
            background-color: $gray;
          }
        }

        &.selected {
          .customer-content {
            background-color: color.adjust($color: $gray, $lightness: 5%);
            font-weight: 600;
          }
        }
      }
    }
  }

  .tabs {
    ::ng-deep .tabs-wrapper {
      .tab-list {
        li {
          border: none !important;
          padding: 10px;
          border-radius: 0 !important;
          border-bottom: 2px transparent solid !important;
          &.active {
            border-color: $primary !important;
          }
        }
      }
    }
  }
}
