<div class="admin-layout">
  <div class="sidebar-parent">
    <div class="sidebar" [class.sidebar-small]="isSidebarCollapsed">
      <div class="logo d-flex align-items-center">
        <img
          *ngIf="!isSidebarCollapsed"
          src="assets/images/logo.png"
          alt="logo"
          class="img-fluid"
        />
        <img
          *ngIf="isSidebarCollapsed"
          id="logo-small"
          src="assets/images/logo-small.png"
          (click)="openSidebar()"
          [attr.data-bs-toggle]="isSidebarCollapsed ? 'tooltip' : null"
          [attr.title]="isSidebarCollapsed ? 'Open Sidebar' : ''"
          placement="right"
        />
        <button
          *ngIf="!isSidebarCollapsed"
          class="icon"
          (click)="collapseSidebar()"
        >
          <span><i class="fa fa-caret-left"></i></span>
        </button>
      </div>

      <nav class="nav-parent">
        <ul class="nav">
          <li *ngFor="let item of sidebarItems">
            <!-- Flat link -->
            <a
              *ngIf="!item.children"
              [routerLink]="item.route"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [attr.title]="isSidebarCollapsed ? item.label : null"
              [attr.data-bs-toggle]="isSidebarCollapsed ? 'tooltip' : null"
            >
              <span><svg-icons [name]="item.icon"></svg-icons></span>
              <span *ngIf="!isSidebarCollapsed">{{ item.label }}</span>
            </a>

            <!-- Dropdown -->
            <ng-container *ngIf="item.children">
              <div
                routerLinkActive="active"
                #rla="routerLinkActive"
                class="nav-item"
              >
                <a
                  class="nav-link d-flex justify-content-between align-items-center"
                  [class.active]="rla.isActive"
                  [attr.data-bs-toggle]="
                    isSidebarCollapsed ? 'tooltip' : 'collapse'
                  "
                  [attr.title]="isSidebarCollapsed ? item.label : null"
                  [attr.data-bs-target]="
                    isSidebarCollapsed ? null : '#' + item.collapseId
                  "
                  [attr.href]="
                    isSidebarCollapsed ? null : '#' + item.collapseId
                  "
                  role="button"
                  aria-expanded="false"
                  [attr.aria-controls]="item.collapseId"
                  (click)="isSidebarCollapsed && openSidebar()"
                >
                  <span>
                    <svg-icons [name]="item.icon"></svg-icons>
                    <span *ngIf="!isSidebarCollapsed">{{ item.label }}</span>
                  </span>
                  <i *ngIf="!isSidebarCollapsed" class="fa fa-chevron-down"></i>
                </a>

                <div
                  class="collapse"
                  [class.show]="rla.isActive"
                  [id]="item.collapseId"
                >
                  <ul class="nav flex-column" style="width: 100%">
                    <li
                      *ngFor="let child of item.children"
                      class="nav-item"
                      routerLinkActive="active"
                    >
                      <a
                        class="nav-link"
                        *ngIf="!isSidebarCollapsed"
                        [routerLink]="child.route"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                      >
                        {{ child.label }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-container>
          </li>

          <!-- Logout -->
          <li>
            <a (click)="logout()">
              <span><i class="fa fa-sign-out"></i></span>
              <span *ngIf="!isSidebarCollapsed">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
i
